.partePrincipal
{
    /* position: relative;
    display: inline-block;
    text-align: center;

    background-image: url("https://2.bp.blogspot.com/-zZs3XDtNz8k/W9-ksZW8OvI/AAAAAAAACUk/AjJYiIPWYN4rdmc6cNmSqwc6OL-fnefHACLcBGAs/s1600/Alex-Campos-bw-gtr.jpg");
    background-repeat: no-repeat;
    display: block;
    height: 434px;
    background-position: center; */


    position: relative;
    display: inline-block;
    text-align: center;
    background-image: url(https://2.bp.blogspot.com/-zZs3XDtNz8k/W9-ksZW8OvI/AAAAAAAACUk/AjJYiIPWYN4rdmc6cNmSqwc6OL-fnefHACLcBGAs/s1600/Alex-Campos-bw-gtr.jpg);
    background-repeat: no-repeat;
    display: block;
    height: 75vh;
    background-position: center top;
}
img
{
    /* align-self: center; */
    width: 100%;
}

h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Parisienne', cursive;
    /* font-family: 'Sansita Swashed', cursive; */
    font-size: 4rem;
}
h2
{
    font-family: 'Fredericka the Great', cursive;
    color: white;
    border-top-style: dotted
}
body
{
    background-color:#8C8C8C ;
}
.contenedor
{
margin: 1%;
background-color: #777777;
/* padding-left: 5%;
padding-right: 5%; *//*Opcion1*/

/* padding: 5%; *//*Opcion 2*/
/*Opcion 3: sin padding*/
}

/* .col-6 .col-md-4{
    background-color: green;

} */
.cuadroDentroContenedor{
    background-color: #B7B7B7;
    padding: 5%;
}
.bloquesContenidoTexto
{
    display: inline-block;
    /* width: 33%; */
    height: auto;
    vertical-align: middle;
    background-color: #484848;

}
.textosPequenos
{
     /* width: 100%;  */
    background-color: #B7B7B7;
    /* margin: 3% ;
    padding: 10%; */
}


